server/.vs
server/bin
server/Library
server/Temp
server.csproj
server/server.sln
server/server.userprefs
server/projects/HttpServer/HttpServer/bin
server/projects/ICSharpCode.SharpZipLib/ICSharpCode.SharpZipLib/bin
server/projects/ICSharpCode.SharpZipLib/ICSharpCode.SharpZipLib/obj
server/projects/websocket-sharp/websocket-sharp/bin
/server/projects/UTNT/UTNT/bin
/server/projects/UTNT/UTNT/obj
/server/projects/UTNT/UTNT/UTNT.csproj.user
/server/projects/UTNT/.vs/UTNT/v14/.suo
/server/projects/UTNT/.vs/UTNT/v15/.suo
/server/projects/UTNT/UTNT/.vs/UTNT/v15
/server/projects/HttpServer/.vs/HttpServer/v15
/server/projects/HttpServer/HttpServer/obj/Debug/CoreCompileInputs.cache
/server/projects/HttpServer/HttpServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/server/projects/fuscator/temp